.list-group {
  background-color: $white;
}

.list-group-item {
  transition: background-color 0.15s ease-in-out;
}

.list-group-sm {
  .list-group-item {
    @extend .p-2;
  }
}

.list-group-link {

  .list-group-item {
    @extend .d-flex;
    @extend .align-items-center;
    position: relative;
    text-decoration: none;

    > *:first-child {
      @extend .flex-grow-1;
    }

    &::after {
      @extend .ml-2;
      content: '\ea6e';
      font-family: remixicon !important;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      line-height: inherit;
      font-size: 1.25rem;
      font-weight: $font-weight-bold;
    }
  }
}

.list-group-collapse {

  .list-group-item {

    > [data-toggle=collapse] {
      @extend .d-flex;
      @extend .justify-content-between;
      @extend .align-items-center;
      position: relative;
      text-decoration: none;

      &::after {
        @extend .ml-2;
        content: '\ea4e';
        font-family: remixicon !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1;
        vertical-align: text-bottom;
        font-size: 1.25rem;
        font-weight: $font-weight-bold;
      }

      &[aria-expanded=true]::after {
        content: '\ea78';
      }
    }

    ul {
      @extend .list-unstyled;
      padding-top: $list-group-item-padding-y;
      padding-left: map-get($spacers, 3);

      li + li {
        padding-top: $list-group-item-padding-y / 2;
      }
    }
  }
}

.list-group-form {

  .list-group-item {
    border-color: $input-border-color;

    + .list-group-item {
      border-top-width: 0;
    }
  }
}
