.c-stepper {
  background-color: $white;
  border-radius: $border-radius-lg;
  border: 1px solid $border-color;
  padding: map-get($spacers, 3);

  @include media-breakpoint-up(lg) {
    padding: map-get($spacers, 4);
  }

  p {
    @extend .mb-0;
    @extend .mt-2;

    strong {
      color: $primary;
    }
  }
}
