.table {
  thead th {
    font-size: $font-size-sm;
    text-transform: uppercase;

    .is-sortable {
      display: inline-flex;
      align-items: center;

      &::after {
        @extend .ml-1;
        font-size: $font-size-base;
        font-family: remixicon !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1;
        vertical-align: middle;
        content: '\ea74';
        color: $button;
        transition: $transition-base;
      }

      &:hover::after ,
      &:focus::after  {
        color: $button-light;
      }
    }
  }

  &-sortable {
    thead th span {
      display: inline-flex;
      align-items: center;

      &::after {
        @extend .ml-1;
        font-size: $font-size-base;
        font-family: remixicon !important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1;
        vertical-align: middle;
        transition: $transition-base;
        color: $button;
        content: '\ea74';
      }

      &:hover::after ,
      &:focus::after  {
        color: $button-light;
      }
    }

    thead th[aria-sort="ascending"] span::after {
      color: $button-light;
      content: '\ea76';
    }

    thead th[aria-sort="descending"] span::after {
      color: $button-light;
      content: '\ea4c';
    }
  }
}
