.nav-tabs {
  .nav-item {
    .nav-link {
      line-height: $line-height-sm;
      position: relative;
      border: 0;
      border-bottom: 2px solid transparent;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        color: $button;
        background-color: $nav-tabs-link-active-bg;
        border-color: $nuance-08;
      }

      &.active {
        border-color: $button;
      }
    }
  }

  &.flex-column {
    .nav-item {
      .nav-link {
        border: 0;
        border-left: 2px solid transparent;

        &:hover,
        &:focus {
          color: $button;
          background-color: $nav-tabs-link-active-bg;
          border-color: $nuance-08;
        }

        &.active {
          border-color: $button;
        }
      }
    }
  }
}
