<section class="s-articles-cols-01 s-articles-cols-01--marche">
  <div class="s-articles-cols-01__container container">
    <div class="s-articles-cols-01__row row">
        <div class="s-articles-cols-01__col s-articles-cols-01__col--title col-12">
          <h3 class="h1"><strong>Les acteurs de l’inclusion dans l’emploi</strong></h3>
        </div>
    </div>
    <div class="s-articles-cols-01__row row">
      <div class="s-articles-cols-01__col s-articles-cols-01__col--article col-12 col-lg-6">
        <article>
          <h3 class="h2"><strong>Les réseaux de L’IAE</strong></h3>
          <p>Les réseaux de l’Insertion par l’Activité Economique sont des unions de structures qui défendent les intérêts de leurs adhérents et qui les accompagnent sur plusieurs missions : </p>
          <ul>
            <li>L’animation du réseau de l’Insertion par l’Activité Economique</li>
            <li>Mise en valeur des Structures de l’Insertion par l’Activité Économique et de promotion des valeurs de l'Économie Sociale et Solidaire.</li>
            <li>Intermédiation avec les acheteurs et articulation avec les facilitateurs</li>
            <li>Création de groupement de prestataires (co-traitance)</li>
          </ul>
          <p>Chaque réseau a ses propres spécificités mais se rejoignent autour d’ambitions communes :</p>
          <ul>
            <li>Valoriser les initiatives existantes</li>
            <li>Capitaliser les savoir-faire des adhérents, partenaires et réseaux</li>
            <li>Respecter les valeurs de l'Économie Sociale et Solidaire en plaçant les hommes et les femmes au coeur de l’économie : la personne et l’objet social priment sur le capital.</li>
          </ul>
        </article>
      </div>
      <div class="s-articles-cols-01__col s-articles-cols-01__col--article col-12 col-lg-6">
        <article>
          <h3 class="h2"><strong>Les facilitateurs</strong></h3>
          <p>Le facilitateur offre un appui pour mettre en oeuvre des clauses sociales dans la commande publique. Il vise à développer l’insertion des personnes éloignées de l’emploi en s’assurant auprès des entreprises qu’elles en recrutent un pourcentage afin de répondre aux besoins des marchés publics. Crée en 2007, cette fonction est exercée par plus de 300 professionnels.</p>
          <p>
            <a href="https://docs.google.com/presentation/d/e/2PACX-1vRd5lfQWHNEiUNw8yQqBfBnkGyaud5g440IsBvZm9XLEuawQNOfG91MwBlP24Z66A/pub?start=false&loop=false&delayms=3000&slide=id.p1" target="_blank" class="text-decoration-none">
              <strong>Accéder à une documentation sur les facilitateurs</strong>
              <i class="ri-arrow-right-up-line font-weight-bold"></i>
            </a>
          </p>
        </article>
      </div>
    </div>
    <div class="s-articles-cols-01__row row">
      <div class="s-articles-cols-01__col s-articles-cols-01__col--article col-12 col-lg-3">
        <article>
          <h3 class="h2"><strong>Ateliers et chantiers d’insertion (ACI)</strong></h3>
          <p>Les ateliers et chantiers d’insertion proposent un accompagnement et une activité professionnelle à des personnes en parcours d’insertion. Ces activités s’inscrivent dans le champ de l’utilité sociale, ce qui permet de ne pas distordre la concurrence. La commercialisation de leurs biens est encadrée : les recettes engendrées ne peuvent couvrir qu’une part inférieure à 30% des charges liées à leurs activités (50% dans certains cas).</p>
          <p>
            <strong>Source Avise</strong>
          </p>
        </article>
      </div>
      <div class="s-articles-cols-01__col s-articles-cols-01__col--article col-12 col-lg-3">
        <article>
          <h3 class="h2"><strong>Ateliers et chantiers d’insertion (ACI)</strong></h3>
          <p>Chantiers d’insertion proposent un accompagnement et une activité professionnelle à des personnes en parcours d’insertion. Ces activités s’inscrivent dans le champ de l’utilité sociale, ce qui permet de ne pas distordre la concurrence. La commercialisation de leurs biens est encadrée : les recettes engendrées ne peuvent couvrir qu’une part inférieure à 30% des charges liées à leurs activités (50% dans certains cas).</p>
          <p>
            <strong>Source Avise</strong>
          </p>
        </article>
      </div>
      <div class="s-articles-cols-01__col s-articles-cols-01__col--article col-12 col-lg-3">
        <article>
          <h3 class="h2"><strong>Ateliers et chantiers d’insertion (ACI)</strong></h3>
          <p>Des personnes en parcours d’insertion. Ces activités s’inscrivent dans le champ de l’utilité sociale, ce qui permet de ne pas distordre la concurrence. La commercialisation de leurs biens est encadrée : les recettes engendrées ne peuvent couvrir qu’une part inférieure à 30% des charges liées à leurs activités (50% dans certains cas).</p>
          <p>
            <strong>Source Avise</strong>
          </p>
        </article>
      </div>
      <div class="s-articles-cols-01__col s-articles-cols-01__col--article col-12 col-lg-3">
        <article>
          <h3 class="h2"><strong>Ateliers et chantiers d’insertion (ACI)</strong></h3>
          <p>Chantiers d’insertion proposent un accompagnement et une activité professionnelle à des personnes en parcours d’insertion. Ces activités s’inscrivent dans le champ de l’utilité sociale, ce qui permet de ne pas distordre la concurrence. La commercialisation de leurs biens est encadrée : les recettes engendrées ne peuvent couvrir qu’une part inférieure à 30% des charges liées à leurs activités (50% dans certains cas).</p>
          <p>
            <strong>Source Avise</strong>
          </p>
        </article>
      </div>
      <div class="s-articles-cols-01__col s-articles-cols-01__col--article col-12 col-lg-3">
        <article>
          <h5 class="h3"><strong>Ateliers et chantiers d’insertion (ACI)</strong></h5>
          <p>Chantiers d’insertion proposent un accompagnement et une activité professionnelle à des personnes en parcours d’insertion. Ces activités s’inscrivent dans le champ de l’utilité sociale, ce qui permet de ne pas distordre la concurrence. La commercialisation de leurs biens est encadrée : les recettes engendrées ne peuvent couvrir qu’une part inférieure à 30% des charges liées à leurs activités (50% dans certains cas).</p>
          <p>
            <strong>Source Avise</strong>
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
