<section class="s-article-picture-group-01 <% if (locals.modifier != undefined) { %><%= modifier %> <% } %>">
  <div class="s-article-picture-group-01__container container">
    <div class="s-article-picture-group-01__row row" id="clauses">
      <div class="s-article-picture-group-01__col s-article-picture-group-01__col--picture col-12 col-lg-6">
        <picture>
          <img src="https://via.placeholder.com/800x800" class="img-fluid img-cover" alt="">
        </picture>
      </div>
      <div class="s-article-picture-group-01__col s-article-picture-group-01__col--article col-12 col-lg-6">
        <article>
          <p class="h1"><strong>Article + Picture Group 01</strong></p>
          <p>Un exemple de <code>.s-article-picture-group-01</code> <% if (locals.modifier != undefined) { %> et le modifier <code>.<%= modifier %></code> <% } %>.</p>
          <p>Imposée par l'acheteur, elle s'impose à l'entreprise qui doit respecter le cahier des charges.</p>
          <p><strong>Source Code des Marchés Publics, article 14, 53,30,15, 5</strong></p>
        </article>
      </div>
    </div>
    <div class="s-article-picture-group-01__row row" id="rse">
      <div class="s-article-picture-group-01__col s-article-picture-group-01__col--picture col-12 col-lg-6">
        <picture>
          <img src="https://via.placeholder.com/800x800" class="img-fluid img-cover" alt="">
        </picture>
      </div>
      <div class="s-article-picture-group-01__col s-article-picture-group-01__col--article col-12 col-lg-6">
        <article>
          <p class="h1"><strong>Responsabilité sociale des entreprises</strong></p>
          <p>
            <strong>Travailler avec les structures d’insertion et des structures du STPA est un excellent moyen  pour engager une démarche RSE</strong>. <br>
            Cela permet de contribuer activement à l’insertion de personnes éloignées de l’emploi ou en situation de handicap, tout en répondant à un besoin réel de l’entreprise. Le recours à ces prestataires permet ainsi d’allier impact positif et performance.
          </p>
        </article>
      </div>
    </div>
    <div class="s-article-picture-group-01__row row" id="agefiph">
      <div class="s-article-picture-group-01__col s-article-picture-group-01__col--picture col-12 col-lg-6">
        <picture>
          <img src="https://via.placeholder.com/800x800" class="img-fluid img-cover" alt="">
        </picture>
      </div>
      <div class="s-article-picture-group-01__col s-article-picture-group-01__col--article col-12 col-lg-6">
        <article>
          <p class="h1"><strong>Contribution Agefiph /Fiph</strong></p>
          <p>Il existe plusieurs solutions pour réduire votre contribution Agefiph/FIPH, dont :</p>
          <ul>
            <li>Recruter directement des salariés handicapés.</li>
            <li>Sous-traiter au secteur protégé ou adaptéInformation FIPHP : La mise à disposition par une association ne peut donner lieu à déduction. </li>
          </ul>
          <p>Information FIPHP : La mise à disposition par une association ne peut donner lieu à déduction.</p>
          <p>
            <a href="http://www.fiphfp.fr/FAQ/Peut-on-deduire-les-frais-de-mise-a-disposition-de-personnel-handicape-via-une-association-hors-ESAT-ou-EA" class="text-decoration-none" target="_blank">
              <strong>Pour plus d’information sur le Fiph</strong>
              <i class="ri-arrow-right-up-line font-weight-bold"></i>
            </a>
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
