<section class="s-article-picture-03 <% if (locals.modifier != undefined) { %><%= modifier %> <% } %>">
  <div class="s-article-picture-03__container container">
    <div class="s-article-picture-03__row row">
      <div class="s-article-picture-03__col s-article-picture-03__col--article col-12 col-lg-6 d-flex align-items-center">
        <article>
          <h2 class="s-article-picture-03__col--article__title h1" data-subtitle="zoom sur">Article + Picture 03</h2>
          <p class="lead"><code>p.lead</code> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore et odio accusantium aperiam, architecto ducimus eius dicta.</p>
          <p><code>p</code> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore et odio accusantium aperiam, architecto ducimus eius dicta.</p>
          <p class="s-article-picture-03__col--article__cta">
            <a href="" rel="noopener" target="_blank" class="btn btn-primary btn-ico">
              <span>Découvrez le recyclage</span>
              <i class="ri-arrow-right-line ri-lg"></i>
            </a>
          </p>
        </article>
      </div>
      <div class="s-article-picture-03__col s-article-picture-03__col--picture col-12 col-lg-6 d-flex align-items-center">
        <picture>
          <a href="" rel="noopener" target="_blank"><img src="https://via.placeholder.com/800x600" class="img-fluid img-fitcover" alt=""></a>
        </picture>
      </div>
    </div>
  </div>
</section>
