<section class="s-banner-01 <% if (locals.modifier != undefined) { %><%= modifier %> <% } %>">
  <div class="s-banner-01__container container">
    <div class="s-banner-01__row row">
      <div class="s-banner-01__col col-12">
        <div>
          <h2 class="h1-hero font-weight-normal"><strong>Stratégie nationale de prévention</strong></h2>
          <h3 class="h1 font-weight-normal">Service public de l’insertion et de l’emploi</h3>
          <p>À l’occasion de la présentation de la stratégie nationale de prévention et de lutte contre la pauvreté, le 13 septembre 2018, le Président de la République a fixé une ambition claire à l’ensemble des acteurs impliqués dans les politiques d’insertion.</p>
          <p>Au-delà des mesures prévues et financées dans le cadre de cette stratégie, il s’agit plus largement de repenser en profondeur l’organisation de l’ensemble de nos politiques en la matière en visant un objectif majeur :</p>
          <p>La création d’un véritable service public de l’insertion et de l’emploi, dont l’État serait le garant.</p>
          <p class="mb-0 mt-4 text-center text-lg-left">
            <a href="" rel="noopener" target="_blank" class="btn btn-primary btn-ico">
              <span>Aides territoires</span>
              <i class="ri-arrow-right-line ri-lg"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="s-banner-01 <% if (locals.modifier != undefined) { %><%= modifier %> <% } %>">
  <div class="s-banner-01__container container">
    <div class="s-banner-01__row row">
      <div class="s-banner-01__col col-12">
        <div class="d-flex flex-column flex-md-row">
          <div class="text-center text-md-left">
            <a href="" target="_blank"><img src="images/logo-aides-territoires.svg" width="180" alt="Aides-territoires | Aides publiques pour les collectivités"></a>
          </div>
          <div class="w-100 mt-3 pl-0 pl-md-3">
            <p class="h3 mb-2">Trouver des aides financières sur votre territoire pour faciliter votre développement.</p>
            <p>Venez découvrir plus de 2900 aides répertoriés sur tout le territoire.</p>
            <p class="mb-0 text-right">
              <a href="" rel="noopener" target="_blank" class="btn btn-sm btn-outline-primary btn-ico">
                <span>Aides territoires</span>
                <i class="ri-arrow-right-line ri-lg"></i>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
