<section class="s-cards-grid-01 <% if (locals.modifier != undefined) { %><%= modifier %> <% } %>">
  <div class="s-cards-grid-01__container container">
    <div class="s-cards-grid-01__row row">
        <div class="s-cards-grid-01__col s-cards-grid-01__col--title col-12">
          <h3 class="h2 mb-3 mb-lg-5"><strong>Cards Grid 01</strong><% if (locals.modifier != undefined) { %> avec class utilitaire <code><%= modifier %></code><% } %></h3>
        </div>
    </div>
    <div class="s-cards-grid-01__row row row-cols-1 row-cols-md-2 row-cols-lg-3">
      <div class="s-cards-grid-01__col col mb-3 mb-md-5">
        <div class="card c-card h-100 w-100 c-card--marche has-one-link-inside">
          <div class="card-header text-center">
            <img src="images/picto-demo-01.svg" height="80" alt="">
          </div>
          <div class="card-body">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad ea dolorum doloribus nisi harum suscipit laboriosam totam, aliquid dolorem dicta ipsam iste, adipisci fugit? Molestiae assumenda voluptatum quia in iure.</p>
          </div>
          <div class="card-footer text-right">
            <a href="#" class="btn btn-ico btn-link">
              <span>.btn-link</span>
              <i class="ri-arrow-right-up-line ri-lg"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="s-cards-grid-01__col col mb-3 mb-md-5">
        <div class="card c-card h-100 w-100 c-card--emploi has-one-link-inside">
          <div class="card-header text-center">
            <img src="images/picto-demo-01.svg" height="80" alt="">
          </div>
          <div class="card-body">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad ea dolorum doloribus nisi harum suscipit laboriosam totam, aliquid dolorem dicta ipsam iste, adipisci fugit? Molestiae assumenda voluptatum quia in iure.</p>
          </div>
          <div class="card-footer text-right">
            <a href="#" class="btn btn-ico btn-link">
              <span>.btn-link</span>
              <i class="ri-arrow-right-up-line ri-lg"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="s-cards-grid-01__col col mb-3 mb-md-5">
        <div class="card c-card h-100 w-100 c-card--communaute has-one-link-inside">
          <div class="card-header text-center">
            <img src="images/picto-demo-01.svg" height="80" alt="">
          </div>
          <div class="card-body">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad ea dolorum doloribus nisi harum suscipit laboriosam totam, aliquid dolorem dicta ipsam iste, adipisci fugit? Molestiae assumenda voluptatum quia in iure.</p>
          </div>
          <div class="card-footer text-right">
            <a href="#" class="btn btn-ico btn-link">
              <span>.btn-link</span>
              <i class="ri-arrow-right-up-line ri-lg"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="s-cards-grid-01__col col mb-3 mb-md-5">
        <div class="card c-card h-100 w-100 c-card--pilotage has-one-link-inside">
          <div class="card-header text-center">
            <img src="images/picto-demo-01.svg" height="80" alt="">
          </div>
          <div class="card-body">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad ea dolorum doloribus nisi harum suscipit laboriosam totam, aliquid dolorem dicta ipsam iste, adipisci fugit? Molestiae assumenda voluptatum quia in iure.</p>
          </div>
          <div class="card-footer text-right">
            <a href="#" class="btn btn-ico btn-link">
              <span>.btn-link</span>
              <i class="ri-arrow-right-up-line ri-lg"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
