<header class="bg-primary py-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <a href="https://betagouv.github.io/itou-theme/" class="h2 text-white mb-0 text-decoration-none">Itou Theme</a>
      </div>
    </div>
  </div>
</header>
