<section class="s-hero-title-01 <% if (locals.modifier != undefined) { %><%= modifier %> <% } %>">
  <div class="s-hero-title-01__container container container-max-lg">
    <div class="s-hero-title-01__row row">
      <div class="s-hero-title-01__col s-hero-title-01__col--article col-12">
        <article>
          <h1 class="s-hero-title-01__col--article__title h1-hero"><strong>Hero Title 01</strong></h1>
          <h2 class="h2">Un exemple avec une col <code>.s-hero-title-01__col--picture</code> <% if (locals.modifier != undefined) { %> et le modifier <code>.<%= modifier %></code> <% } %></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
          <p>Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
          <p class="s-hero-title-01__col--article__cta">
            <a href="" rel="noopener" target="_blank" class="btn btn-primary btn-ico">
              <span>Contactez-nous</span>
              <i class="ri-mail-send-line ri-lg"></i>
            </a>
          </p>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="s-hero-title-01 <% if (locals.modifier != undefined) { %><%= modifier %> <% } %>">
  <div class="s-hero-title-01__container container container-max-lg">
    <div class="s-hero-title-01__row row">
      <div class="s-hero-title-01__col s-hero-title-01__col--article col-12 col-lg-8">
        <article>
          <h2 class="s-hero-title-01__col--article__title h1"><strong>Un autre exemple</strong></h2>
          <h3 class="h2">Un exemple avec une col <code>.s-hero-title-01__col--figure</code> <% if (locals.modifier != undefined) { %> et le modifier <code>.<%= modifier %></code> <% } %></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam doloremque, dicta nisi nemo facere eveniet temporibus soluta nam, eligendi iure quasi deserunt nulla ipsam reiciendis voluptatem non voluptatibus, aliquid aliquam?.</p>
          <p>Les emplois de l'inclusion est un service numérique de délivrance des PASS IAE et de mise en relation d'employeurs solidaires avec des candidats éloignés de l'emploi par le biais de tiers ou en autoprescription.</p>
          <p class="s-hero-title-01__col--article__cta">
            <a href="" rel="noopener" target="_blank" class="btn btn-primary btn-ico">
              <span>Accéder aux emplois</span>
              <i class="ri-arrow-right-line ri-lg"></i>
            </a>
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
