<section class="s-page-menu-01 <% if (locals.modifier != undefined) { %><%= modifier %> <% } %>">
  <div class="s-page-menu-01__container container">
    <div class="s-page-menu-01__row row align-items-center">
        <div class="s-page-menu-01__col s-page-menu-01__col--title col-12 col-lg-5">
          <h1 class="h1-hero"><strong>Les <br class="d-none d-lg-inline">thématiques<br class="d-none d-lg-inline"></strong></h1>
          Un exemple de <code>.s-page-menu-01</code> <% if (locals.modifier != undefined) { %> et le modifier <code>.<%= modifier %></code> <% } %>.
        </div>
      <div class="s-page-menu-01__col s-page-menu-01__col--grid col-12 col-lg-7">
        <ul>
            <li><a href="#definition">s-page-menu-01</a><i class="ri-account-circle-line ri-lg ml-1"></i></li>
            <li><a href="#avantages">Les avantages de l’achat inclusif</a></li>
            <li><a href="#faq">Les questions fréquentes</a><i class="ri-account-circle-line ri-xl ml-1"></i></li>
            <li><a href="#acteurs">Les acteurs de l’inclusion</a><i class="ri-account-circle-line ri-xl ml-1"></i></li>
            <li><a href="#structures">Les types de structures</a><i class="ri-account-circle-line ri-xl ml-1"></i></li>
            <li><a href="#clauses">Les clauses sociales</a><i class="ri-account-circle-line ri-xl ml-1"></i></li>
            <li><a href="#rse">RSE</a><i class="ri-account-circle-line ri-xl ml-1"></i></li>
            <li><a href="#agefiph">AGEFIPH</a><i class="ri-account-circle-line ri-xl ml-1"></i></li>
        </ul>
      </div>
    </div>
  </div>
</section>
