<section class="s-title-01">
  <div class="s-title-01__container container">
    <div class="s-title-01__row row">
      <div class="s-title-01__col col-12">
        <h1>Title 01</h1>
        <h2>Un exemple avec des niveaux de titres</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia, maiores atque provident soluta nam tenetur cupiditate corrupti quisquam eveniet hic iusto necessitatibus aperiam, rerum ex, quia molestias doloribus officiis.</p>
      </div>
    </div>
  </div>
</section>
