<!DOCTYPE html>
<html lang="fr">

  <head>
    <title>Itou Theme</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="title" content="Itou Theme">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Itou Theme">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="Itou Theme">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <link rel="shortcut icon" href="images/favico.ico" type="image/ico">
    <link rel="stylesheet" href="stylesheets/app.css" />
  </head>

  <body id="top">

    <%- include('_sections/header-theme') %>

    <main class="s-main" role="main">

      <section id="content">
        <div class="container">

          <article class="row py-5" id="cards">
            <div class="col-12">
              <h3>Cards <code>.c-card</code></h3>
              <h4>--modifier <code>--marche</code>, <code>--emploi</code>, <code>--communaute</code>, <code>--pilotage</code></h4>
              <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col mb-3 mb-md-5">
                  <div class="card c-card c-card--plateforme h-100 w-100">
                    <div class="card-header">
                      <img src="images/logo-plateforme-inclusion.svg" height="53" alt="La plateforme de l'inclusion">
                    </div>
                    <div class="card-body">
                      <p>Les emplois de l'inclusion est un service numérique de délivrance des PASS IAE et de mise en relation <strong>d'employeurs solidaires</strong> avec des <strong>candidats éloignés de l'emploi</strong> par le biais de tiers (prescripteurs habilités, orienteurs</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-3 mb-md-5">
                  <div class="card c-card c-card--pilotage h-100 w-100">
                    <div class="card-header">
                      <img src="images/logo-pilotage-inclusion.svg" height="53" alt="Le pilotage de l'inclusion">
                    </div>
                    <div class="card-body">
                      <p>Les emplois de l'inclusion est un service numérique de délivrance des PASS IAE et de mise en relation <strong>d'employeurs solidaires</strong> avec des <strong>candidats éloignés de l'emploi</strong> par le biais de tiers (prescripteurs habilités, orienteurs</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-3 mb-md-5">
                  <div class="card c-card c-card--emploi h-100 w-100">
                    <div class="card-header">
                      <img src="images/logo-emploi-inclusion.svg" height="53" alt="Les emplois de l'inclusion">
                    </div>
                    <div class="card-body">
                      <p>Les emplois de l'inclusion est un service numérique de délivrance des PASS IAE et de mise en relation <strong>d'employeurs solidaires</strong> avec des <strong>candidats éloignés de l'emploi</strong> par le biais de tiers (prescripteurs habilités, orienteurs</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-3 mb-md-5">
                  <div class="card c-card c-card--communaute h-100 w-100">
                    <div class="card-header">
                      <img src="images/logo-communaute-inclusion.svg" height="53" alt="La communauté de l'inclusion">
                    </div>
                    <div class="card-body">
                      <p>Les emplois de l'inclusion est un service numérique de délivrance des PASS IAE et de mise en relation <strong>d'employeurs solidaires</strong> avec des <strong>candidats éloignés de l'emploi</strong> par le biais de tiers (prescripteurs habilités, orienteurs</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-3 mb-md-5">
                  <div class="card c-card c-card--marche h-100 w-100">
                    <div class="card-header">
                      <img src="images/logo-marche-inclusion.svg" height="53" alt="Les marchés de l'inclusion">
                    </div>
                    <div class="card-body">
                      <p>Les emplois de l'inclusion est un service numérique de délivrance des PASS IAE et de mise en relation d'employeurs solidaires avec des candidats éloignés de l'emploi par le biais de tiers (prescripteurs habilités, orienteurs) ou en autoprescription.</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <h3>Cards <code>.c-card .has-one-link-inside</code></h3>
              <h4>with hover border color effect if has only one link inside</h4>
              <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col mb-3 mb-md-5">
                  <div class="card c-card c-card--marche has-one-link-inside h-100 w-100">
                    <div class="card-header">
                      <img src="images/logo-marche-inclusion.svg" height="53" alt="Les marchés de l'inclusion">
                    </div>
                    <div class="card-body">
                      <p>Les emplois de l'inclusion est un service numérique de délivrance des PASS IAE et de mise en relation d'employeurs solidaires avec des candidats éloignés de l'emploi par le biais de tiers (prescripteurs habilités, orienteurs) ou en autoprescription.</p>
                    </div>
                    <div class="card-footer text-right">
                      <a href="#" class="btn btn-sm btn-ico btn-link stretched-link">
                        <span>.btn-link with .stretched-link</span>
                        <i class="ri-arrow-right-up-line ri-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col mb-3 mb-md-5">
                  <div class="card c-card c-card--plateforme has-one-link-inside h-100 w-100">
                    <div class="card-header">
                      <img src="images/logo-plateforme-inclusion.svg" height="53" alt="La plateforme de l'inclusion">
                    </div>
                    <div class="card-body">
                      <p>Les emplois de l'inclusion est un service numérique de délivrance des PASS IAE et de mise en relation d'employeurs solidaires avec des candidats éloignés de l'emploi par le biais de tiers (prescripteurs habilités, orienteurs) ou en autoprescription.</p>
                    </div>
                    <div class="card-footer text-right">
                      <a href="#" class="btn btn-sm btn-ico btn-link stretched-link">
                        <span>.btn-link with .stretched-link</span>
                        <i class="ri-arrow-right-up-line ri-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <h3>Cards <code>.c-card .has-links-inside</code></h3>
              <h4>with hover border color effect if has some links inside</h4>
              <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                <div class="col mb-3 mb-md-5">
                  <div class="card c-card c-card--marche has-links-inside h-100 w-100">
                    <div class="card-header">
                      <img src="images/logo-marche-inclusion.svg" height="53" alt="Les marchés de l'inclusion">
                    </div>
                    <div class="card-body">
                      <p>Les emplois de l'inclusion est un service numérique de délivrance des PASS IAE et de mise en relation d'employeurs solidaires avec des candidats éloignés de l'emploi par le biais de tiers (prescripteurs habilités, orienteurs) ou en autoprescription.</p>
                    </div>
                    <div class="card-footer text-right">
                      <a href="#" class="btn btn-sm btn-ico btn-link">
                        <span>Link 01</span>
                        <i class="ri-arrow-right-up-line ri-lg"></i>
                      </a>
                      <a href="#" class="btn btn-sm btn-ico btn-link">
                        <span>Link 02</span>
                        <i class="ri-arrow-right-up-line ri-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col mb-3 mb-md-5">
                  <div class="card c-card c-card--plateforme has-links-inside h-100 w-100">
                    <div class="card-header">
                      <img src="images/logo-plateforme-inclusion.svg" height="53" alt="La plateforme de l'inclusion">
                    </div>
                    <div class="card-body">
                      <p>Les emplois de l'inclusion est un service numérique de délivrance des PASS IAE et de mise en relation d'employeurs solidaires avec des candidats éloignés de l'emploi par le biais de tiers (prescripteurs habilités, orienteurs) ou en autoprescription.</p>
                    </div>
                    <div class="card-footer text-right">
                      <a href="#" class="btn btn-sm btn-ico btn-link">
                        <span>Link 01</span>
                        <i class="ri-arrow-right-up-line ri-lg"></i>
                      </a>
                      <a href="#" class="btn btn-sm btn-ico btn-link">
                        <span>Link 02</span>
                        <i class="ri-arrow-right-up-line ri-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <h3>Cards exemples models</h3>
              <div class="row row-cols-1 row-cols-md-2">
                <div class="col-12 col-lg-4 mb-3 mb-md-5">
                  <div class="card c-card c-card--emploi has-links-inside h-100 w-100">
                    <div class="card-header">
                      <img src="https://via.placeholder.com/500x230" class="img-fitcover img-fluid" alt="">
                    </div>
                    <div class="card-body">
                      <p class="h2 mb-0">Handirect Services Bordeaux</p>
                      <p>8 rue Coudol, 33110 Le Bouscat</p>
                      <p class="text-primary">Les emplois de l'inclusion est un service numérique de délivrance des PASS IAE et de mise en relation <strong>d'employeurs solidaires</strong> avec des <strong>candidats éloignés de l'emploi</strong> par le biais de tiers (prescripteurs habilités, orienteurs</p>
                    </div>
                    <div class="card-footer text-right">
                      <a href="#" class="btn btn-sm btn-ico btn-link">
                        <span>.btn-link</span>
                        <i class="ri-arrow-right-up-line ri-lg"></i>
                      </a>
                      <a href="#" class="btn btn-sm btn-ico btn-primary">
                        <span>.btn-primary</span>
                        <i class="ri-arrow-right-up-line ri-lg"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-lg-8 mb-3 mb-md-5">
                  <div class="card c-card c-card--emploi has-links-inside w-100">
                    <div class="card-body">
                      <p class="fs-sm d-flex align-items-center">
                        <i class="ri-home-2-line ri-xl mr-2"></i>
                        <span>ETTI - Entreprise de Travail Temporaire d’Insertion</span>
                      </p>
                      <hr>
                      <p class="h2 mb-0">Handirect Services Bordeaux</p>
                      <p>8 rue Coudol, 33110 Le Bouscat</p>
                    </div>
                    <div class="card-footer text-right">
                      <a href="#" class="btn btn-sm btn-ico btn-link">
                        <span>.btn-link</span>
                        <i class="ri-arrow-right-up-line ri-lg"></i>
                      </a>
                      <a href="#" class="btn btn-sm btn-ico btn-primary">
                        <span>.btn-primary</span>
                        <i class="ri-arrow-right-up-line ri-lg"></i>
                      </a>
                    </div>
                  </div>
                  <div class="card c-card has-links-inside my-4">
                    <div class="card-body">
                      <div class="fs-sm d-flex align-items-center">
                        <span class="text-secondary flex-grow-1">
                          Émise le 14 mai 2022 par <strong>Philippe Blanchard</strong>
                          <i class="ri-group-line ml-2"></i> Orienteur
                        </span>
                        <span class="badge badge-sm badge-pill badge-danger text-white">Déclinée</span>
                      </div>
                      <hr>
                      <p class="mx-2">
                        <a class="d-flex flex-wrap align-items-center text-decoration-none has-collapse-caret" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                          <i class="ri-briefcase-line ri-xl mr-1"></i>
                          <span class="font-weight-bold mr-1 mr-md-2">Retoucheur / Retoucheuse en habillement</span>
                          <span class="fs-sm text-nowrap">
                            <i class="ri-map-pin-2-line ri-sm mr-1"></i>
                            Annequin (62)
                          </span>
                          <span class="ml-auto fs-sm text-decoration-underline">+ 2 autres postes</span>
                        </a>
                      </p>
                      <ul class="list-group list-group-sm list-group-flush collapse" id="collapseExample">
                        <li class="list-group-item list-group-item-action">
                          <a class="d-flex flex-wrap align-items-center text-decoration-none" href="">
                            <span class="font-weight-bold mr-1 mr-md-2">Retoucheur / Retoucheuse en habillement</span>
                            <span class="ml-auto fs-sm text-nowrap">
                              <i class="ri-map-pin-2-line ri-sm mr-1"></i>
                              Annequin (62)
                            </span>
                          </a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                          <a class="d-flex flex-wrap align-items-center text-decoration-none" href="">
                            <span class="font-weight-bold mr-1 mr-md-2">Agent / Agente de propreté de locaux</span>
                            <span class="ml-auto fs-sm text-nowrap">
                              <i class="ri-map-pin-2-line ri-sm mr-1"></i>
                              Bapaume (62)
                            </span>
                          </a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                          <a class="d-flex flex-wrap align-items-center text-decoration-none" href="">
                            <span class="font-weight-bold mr-1 mr-md-2">Coupeur / Coupeuse dessus</span>
                            <span class="ml-auto fs-sm text-nowrap">
                              <i class="ri-map-pin-2-line ri-sm mr-1"></i>
                              Arras (62)
                            </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-footer text-right bg-light">
                      <a href="#" class="btn btn-sm btn-outline-primary">Voir sa candidature</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="row py-5" id="stepper">
            <div class="col-12">
              <h3>Stepper<code>.c-stepper</code></h3>
              <p>Avec le composant <a href="components.html#progress">progress et ses variations</a></p>
              <div class="row">
                <div class="col-12 col-md-6 mb-3 mb-md-5">
                  <div class="c-stepper">
                    <div class="progress progress--emploi">
                      <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p><strong>Étape 1</strong>/3 : Informations générales</p>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="row py-5" id="listgroup">
            <div class="col-12">
              <h3>Listgroup<code>.list-group</code></h3>
              <h4>Des variantes supplémentaires itou du <a href="https://getbootstrap.com/docs/4.6/components/list-group/" target="_blank">.list-group</a> de BS4</h4>
              <p>Le <code>.list-group</code> normal.</p>
              <div class="row">
                <div class="col-12 col-md-10 mb-3 mb-md-6">
                  <ul class="list-group">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                  </ul>
                </div>
              </div>
              <p>Le <code>.list-group .list-group-sm</code> avec moins de padding.</p>
              <div class="row">
                <div class="col-12 col-md-10 mb-3 mb-md-6">
                  <ul class="list-group list-group-sm">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                  </ul>
                </div>
              </div>
              <p>Le <code>.list-group .list-group-flush</code> sans bordures externes.</p>
              <div class="row">
                <div class="col-12 col-md-10 mb-3 mb-md-6">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                  </ul>
                </div>
              </div>
              <p>Le <code>.list-group .list-group-link</code> avec lien unique sur toute la zone de l'item.</p>
              <div class="row">
                <div class="col-12 col-md-10 mb-3 mb-md-5">
                  <ul class="list-group list-group-flush list-group-link">
                    <li class="list-group-item list-group-item-action">
                      <div class="d-flex flex-column flex-lg-row">
                        <span class="d-flex align-items-center">
                          <i class="ri-checkbox-blank-circle-fill ri-xs mr-2 text-success"></i>
                          <a href="" class="font-weight-bold stretched-link">Préparateur/préparatrice de commande</a>
                        </span>
                        <span class="fs-sm mt-1 mt-lg-0 ml-lg-auto d-flex align-items-center"><i class="ri-map-pin-2-line ri-sm mr-1"></i>Le Bouscat - 33</span>
                      </div>
                    </li>
                    <li class="list-group-item list-group-item-action">
                      <div class="d-flex flex-column flex-lg-row">
                        <span class="d-flex align-items-center">
                          <i class="ri-checkbox-blank-circle-fill ri-xs mr-2 text-success"></i>
                          <a href="" class="font-weight-bold stretched-link">Chargé(e) d'affaires commerciales et marketing opérationnel</a>
                        </span>
                        <span class="fs-sm mt-1 mt-lg-0 ml-lg-auto d-flex align-items-center"><i class="ri-map-pin-2-line ri-sm mr-1"></i>Beychac-et-Caillau - 72</span>
                      </div>
                    </li>
                    <li class="list-group-item list-group-item-action">
                      <div class="d-flex flex-column flex-lg-row">
                        <span class="d-flex align-items-center">
                          <i class="ri-checkbox-blank-circle-fill ri-xs mr-2 text-success"></i>
                          <a href="" class="font-weight-bold stretched-link">Préparateur/préparatrice de commande</a>
                        </span>
                        <span class="fs-sm mt-1 mt-lg-0 ml-lg-auto d-flex align-items-center"><i class="ri-map-pin-2-line ri-sm mr-1"></i>Belvès-de-Castillon - 33</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <p>Le <code>.list-group .list-group-collapse</code> avec collapse.</p>
              <div class="row">
                <div class="col-12 col-md-10 mb-3 mb-md-6">
                  <ul class="list-group list-group-collapse">
                    <li class="list-group-item list-group-item-action">
                      <a class="font-weight-bold" data-toggle="collapse" href="#collapseExample01" role="button" aria-expanded="false" aria-controls="collapseExample01">Hygiène et propreté</a>
                      <div class="collapse" id="collapseExample01">
                        <ul>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="list-group-item list-group-item-action">
                      <a class="font-weight-bold" data-toggle="collapse" href="#collapseExample02" role="button" aria-expanded="false" aria-controls="collapseExample02">Bâtiment et travaux publics</a>
                      <div class="collapse" id="collapseExample02">
                        <ul>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="list-group-item list-group-item-action">
                      <a class="font-weight-bold" data-toggle="collapse" href="#collapseExample03" role="button" aria-expanded="false" aria-controls="collapseExample03">Entretiens du linge</a>
                      <div class="collapse" id="collapseExample03">
                        <ul>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <p>Le <code>.list-group .list-group-collapse .list-group-form</code> a placer dans un formulaire contenant des input.</p>
              <div class="row">
                <div class="col-12 col-md-10 mb-3 mb-md-6">
                  <ul class="list-group list-group-collapse list-group-form">
                    <li class="list-group-item list-group-item-action">
                      <a class="font-weight-bold" data-toggle="collapse" href="#collapseExample04" role="button" aria-expanded="false" aria-controls="collapseExample04">Hygiène et propreté</a>
                      <div class="collapse" id="collapseExample04">
                        <ul>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="list-group-item list-group-item-action">
                      <a class="font-weight-bold" data-toggle="collapse" href="#collapseExample06" role="button" aria-expanded="false" aria-controls="collapseExample06">Entretiens du linge</a>
                      <div class="collapse" id="collapseExample06">
                        <ul>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <p>Exemples de <code>.list-group .list-group-flush .list-group-link</code> avec différents contenus possibles.</p>
              <div class="row">
                <div class="col-12 col-md-10 mb-3 mb-md-5">
                  <ul class="list-group list-group-flush list-group-link">
                    <li class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                            <a href="" class="font-weight-bold stretched-link order-2 order-md-1">Lorem ipsum dolor sit amet</a>
                            <div class="order-1 order-md-2">
                              <span class="badge badge-sm badge-pill badge-accent-03 text-primary ml-0 ml-lg-2 mt-1 mt-lg-0"><i class="ri-group-line"></i>20+ candidatures</span>
                            </div>
                          </div>
                          <span class="fs-sm mt-1 d-flex align-items-center">
                            <i class="ri-map-pin-2-line ri-sm mr-1"></i>Le Bouscat - 33</i>
                          </span>
                        </div>
                        <div class="mt-lg-0 ml-auto d-flex flex-column align-items-end justify-content-center">
                          <span class="badge badge-xs badge-pill badge-accent-02-light text-primary">CDI</span>
                          <span class="badge badge-xs badge-pill badge-accent-02-light text-primary mt-1">35h/semaine</span>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center">
                        <div>
                          <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                            <a href="" class="font-weight-bold stretched-link order-2 order-md-1">Lorem ipsum dolor sit amet</a>
                            <div class="order-1 order-md-2">
                              <span class="badge badge-sm badge-pill badge-accent-03 text-primary ml-0 ml-lg-2 mt-1 mt-lg-0"><i class="ri-group-line"></i>20+ candidatures</span>
                            </div>
                          </div>
                          <span class="fs-sm mt-1 d-flex align-items-center">
                            <i class="ri-map-pin-2-line ri-sm mr-1"></i>Le Bouscat - 33</i>
                          </span>
                        </div>
                        <div class="mt-lg-0 ml-auto d-flex flex-column align-items-end justify-content-center">
                          <span class="badge badge-xs badge-pill badge-accent-02-light text-primary">CDI</span>
                          <span class="badge badge-xs badge-pill badge-accent-02-light text-primary mt-1">35h/semaine</span>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item list-group-item-action">
                      <div class="d-flex align-items-center">
                        <picture class="d-none d-lg-inline-flex mr-2">
                          <img src="https://via.placeholder.com/100x60" alt="">
                        </picture>
                        <div>
                          <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                            <a href="" class="font-weight-bold stretched-link order-2 order-md-1">Lorem ipsum dolor sit amet</a>
                            <div class="order-1 order-md-2">
                              <span class="badge badge-sm badge-pill badge-accent-03 text-primary ml-0 ml-lg-2 mt-1 mt-lg-0"><i class="ri-group-line"></i>20+ candidatures</span>
                            </div>
                          </div>
                          <span class="fs-sm mt-1 d-flex align-items-center">
                            <i class="ri-map-pin-2-line ri-sm mr-1"></i>Le Bouscat - 33</i>
                          </span>
                        </div>
                        <div class="mt-lg-0 ml-auto d-flex flex-column align-items-end justify-content-center">
                          <span class="badge badge-xs badge-pill badge-accent-02-light text-primary">CDI</span>
                          <span class="badge badge-xs badge-pill badge-accent-02-light text-primary mt-1">35h/semaine</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </article>

          <article class="row py-5" id="tags">
            <div class="col-12 col-lg-3">
              <h3>Tags</h3>
            </div>
            <div class="col-12 col-lg-9">
              <div class="mb-5">
                <h6>Contextual variations</h6>
                <div class="row">
                  <div class="col-6">
                    <p>
                      <span class="tag tag-info-lighter text-info">info</span>
                      <span class="tag tag-info-lighter text-info"><i class="ri-check-line"></i>info + ico</span>
                    </p>
                    <p>
                      <span class="tag tag-important-lighter text-important">important</span>
                      <span class="tag tag-important-lighter text-important"><i class="ri-check-line"></i>important + ico</span>
                    </p>
                    <p>
                      <span class="tag tag-accent-01-lighter text-accent-01">accent-01</span>
                      <span class="tag tag-accent-01-lighter text-accent-01"><i class="ri-check-line"></i>accent-01 + ico</span>
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </article>

          <article class="row py-5" id="box">
            <div class="col-12 col-lg-3">
              <h3>Box<code>.c-box</code></h3>
              <p>Un composant pour enrober du contenu à la manière du <code>.c-form</code> de fond de formulaire</p>
            </div>
            <div class="col-12 col-lg-9">
              <div class="c-box">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis nam alias eveniet. Maiores in odit corrupti beatae ad explicabo incidunt inventore error. Excepturi, mollitia numquam nulla aperiam perspiciatis natus quis.</p>
              </div>
            </div>
          </article>

          <article class="row py-5" id="info">
            <div class="col-12 col-lg-3">
              <h3>Info <code>.c-info</code></h3>
              <p>Un composant pour mettre une information en avant. Juste une texte ou un collpase</p>
            </div>
            <div class="col-12 col-lg-9">
              <div class="c-info">
                <span class="c-info__summary">Vous devrez contacter l’employeur pour en savoir plus</span>
              </div>
              <br>
              <div class="c-info">
                <button class="c-info__summary" data-toggle="collapse" data-target="#collapseInfoExample" aria-expanded="false" aria-controls="collapseInfoExample">
                  <span>Contactez l’employeur pour en savoir plus</span>
                </button>
                <div class="c-info__detail collapse" id="collapseInfoExample">
                  <p>
                    L’employeur a refusé la candidature avec le motif “Autre”. <br>
                    Si les détails apportés dans le message de réponse ne vous ont pas permis d’en savoir plus, vous pouvez contacter l’employeur.
                  </p>
                </div>
              </div>

            </div>
          </article>

        </div>
      </section>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>

</html>
