<!DOCTYPE html>
<html lang="fr">

  <head>
    <title>Itou Theme</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="title" content="Itou Theme">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Itou Theme">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="Itou Theme">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="">

    <link rel="shortcut icon" href="images/favico.ico" type="image/ico">
    <link rel="stylesheet" href="stylesheets/app.css" />
  </head>

  <body id="top" class="bg-gray-400">
    <nav role="navigation" aria-label="Accès rapide" tabindex="0" class="sr-only">
      <ul>
        <li><a href="#nav-primary">Aller au menu principal</a></li>
        <li><a href="#main">Aller au contenu principal</a></li>
      </ul>
    </nav>

    <%- include('_sections/header', {headerLogo: 'logo-plateforme-inclusion.svg' , headerLogoAlt: 'La plateforme de l inclusion' , modifier: 's-header--plateforme' , 'sticky' : 'sticky-top' } ) %>

      <main class="s-main" role="main">

        <section>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="Fil d'ariane">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="#">Layout</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Formulaire uploads images</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>

        <section class="s-title-01">
          <div class="s-title-01__container container">
            <div class="s-title-01__row row">
              <div class="s-title-01__col col-12">
                <h1 class="s-title-01__title h1"><strong>Base Title Page</strong></h1>
                <p class="mb-0">Exemple de page avec un formulaire.</p>
              </div>
            </div>
          </div>
        </section>

        <section class="s-section">
          <div class="s-section__container container">
            <div class="s-section__row row">
              <div class="s-section__col col-12 col-lg-7">
                <div class="c-form">
                  <form novalidate>
                    <fieldset>
                      <div class="row">
                        <div class="col-12">
                          <legend>Titre de ce fieldset (Optionnel)</legend>
                          <div class="form-group">
                            <label>Références clients <br><span class="small">Renommez l’image par le nom du client dans le cas où elle ne s’afficherait pas.</span></label>
                            <ul class="c-form-uploaded-img-list">
                              <li>
                                <div class="c-form-uploaded-img-list__viewzone">
                                  <button class="btn btn-ico-only text-white c-form-uploaded-img-list__btn-img" type="button" data-toggle="modal" data-target="#modalImage" data-imgurl="https://placeimg.com/800/600/nature" style="background-image: url('https://placeimg.com/800/600/nature');">
                                    <i class="ri-zoom-in-line ri-xl"></i>
                                  </button>
                                  <span>Photo1.png</span>
                                  <span>
                                    <button class="btn btn-ico-only c-form-uploaded-img-list__edit">
                                      <i class="ri-pencil-line ri-xl"></i>
                                    </button>
                                    <button class="btn btn-ico-only c-form-uploaded-img-list__delete">
                                      <i class="ri-delete-bin-line ri-xl"></i>
                                    </button>
                                  </span>
                                </div>
                                <div class="c-form-uploaded-img-list__editzone">
                                  <button class="btn btn-ico-only text-white c-form-uploaded-img-list__btn-img" type="button" data-toggle="modal" data-target="#modalImage" data-imgurl="https://placeimg.com/800/600/nature" style="background-image: url('https://placeimg.com/800/600/nature');">
                                    <i class="ri-zoom-in-line ri-xl"></i>
                                  </button>
                                  <span>
                                    <input type="text" class="form-control" value="Photo1.png">
                                  </span>
                                  <span>
                                    <button class="btn btn-ico-only text-success c-form-uploaded-img-list__valid">
                                      <i class="ri-check-fill ri-xl"></i>
                                    </button>
                                    <button class="btn btn-ico-only text-danger c-form-uploaded-img-list__cancel">
                                      <i class="ri-close-fill ri-xl"></i>
                                    </button>
                                  </span>
                                </div>
                              </li>
                              <li>
                                <div class="c-form-uploaded-img-list__viewzone">
                                  <button class="btn btn-ico-only text-white c-form-uploaded-img-list__btn-img" type="button" data-toggle="modal" data-target="#modalImage" data-imgurl="https://placeimg.com/800/600/tech" style="background-image: url('https://placeimg.com/800/600/tech');">
                                    <i class="ri-zoom-in-line ri-xl"></i>
                                  </button>
                                  <span>Photo2.png</span>
                                  <span>
                                    <button class="btn btn-ico-only c-form-uploaded-img-list__edit">
                                      <i class="ri-pencil-line ri-xl"></i>
                                    </button>
                                    <button class="btn btn-ico-only c-form-uploaded-img-list__delete">
                                      <i class="ri-delete-bin-line ri-xl"></i>
                                    </button>
                                  </span>
                                </div>
                                <div class="c-form-uploaded-img-list__editzone">
                                  <button class="btn btn-ico-only text-white c-form-uploaded-img-list__btn-img" type="button" data-toggle="modal" data-target="#modalImage" data-imgurl="https://placeimg.com/800/600/tech" style="background-image: url('https://placeimg.com/800/600/tech');">
                                    <i class="ri-zoom-in-line ri-xl"></i>
                                  </button>
                                  <span>
                                    <input type="text" class="form-control" value="Photo2.png">
                                  </span>
                                  <span>
                                    <button class="btn btn-ico-only text-success c-form-uploaded-img-list__valid">
                                      <i class="ri-check-fill ri-xl"></i>
                                    </button>
                                    <button class="btn btn-ico-only text-danger c-form-uploaded-img-list__cancel">
                                      <i class="ri-close-fill ri-xl"></i>
                                    </button>
                                  </span>
                                </div>
                              </li>
                            </ul>
                            <div class="js-display-if-javascript-enabled" style="display: block;">
                              <div id="logo_form" class="c-dropzone dz-clickable">
                                <div class="dz-message">
                                  <p class="mb-1 text-nuance-06"><i class="ri-upload-cloud-2-line ri-2x"></i></p>
                                  <p class="mb-2">Glisser vos fichiers ici ou <strong>rechercher</strong> dans vos fichiers</p>
                                  <span class="btn btn-primary btn-sm mb-2">Rechercher dans vos fichiers</span>
                                  <p class="small text-nuance-06">Taille maximale : Mo</p>
                                </div>
                              </div>
                              <p class="small text-muted">Type de fichier : PNG, JPEG, SVG, GIF</p>
                            </div>
                          </div>
                          <div class="alert alert-danger">
                            <div class="row">
                              <div class="col-auto pr-0">
                                <i class="ri-information-line ri-xl text-danger"></i>
                              </div>
                              <div class="col">
                                <p class="mb-2"><strong>Attention</strong></p>
                                <p>Le Ministère du Travail (DGEFP) et Pôle emploi traitent vos données personnelles. Ce site est ouvert aux acteurs de l'inclusion et permet de simplifier le recrutement des personnes éligibles aux structures de l'Insertion par l'Activité Économique (IAE). Il est une composante du Pacte ambition IAE.
                                  Pour plus d'information sur le traitement de vos données personnelles ou pour exercer vos droits, consultez la section Protection des données. En cliquant sur le bouton "Valider la demande", vous acceptez les conditions générales d'utilisation.</p>
                                <a href="" class="font-weight-bold">Label lien</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>

                    <hr>
                    <div class="row">
                      <div class="col-12">
                        <div class="form-row align-items-center">
                          <div class="form-group col-12 col-lg order-3 order-lg-1">
                            <a href="" class="btn btn-link btn-ico pl-0" aria-label="Retour à l'étape précédente">
                              <i class="ri-arrow-go-back-line ri-lg"></i>
                              <span>Retour</span>
                            </a>
                          </div>
                          <div class="form-group col-6 col-lg-auto order-1 order-lg-2">
                            <button type="reset" class="btn btn-block btn-ico btn-outline-primary">
                              <i class="ri-close-fill ri-lg"></i>
                              <span>Annuler</span>
                            </button>
                          </div>
                          <div class="form-group col-6 col-lg-auto order-2 order-lg-3">
                            <button type="submit" class="btn btn-ico btn-block btn-primary">
                              <i class="ri-send-plane-line ri-lg"></i>
                              <span>Envoyer</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>

      </main>

      <%- include('_sections/footer') %>

      <!-- Modal Image -->
      <div class="modal fade" id="modalImage" tabindex="-1" aria-labelledby="modalImageLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                <i class="ri-close-line"></i>
              </button>
            </div>
            <div class="modal-body">
              <img src="" class="img-fluid img-fitcover" alt="">
            </div>
          </div>
        </div>
      </div>


      <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
      <script src="javascripts/app.js"></script>

      <script>
        $('.c-form-uploaded-img-list__edit').on('click tap', function(e) {
          e.preventDefault();
          let thisParent = $(this).closest('li');
          thisParent.find('.c-form-uploaded-img-list__viewzone').css('display', 'none');
          thisParent.find('.c-form-uploaded-img-list__editzone').css('display', 'flex');
        });

        $('.c-form-uploaded-img-list__cancel').on('click tap', function(e) {
          e.preventDefault();
          let thisParent = $(this).closest('li');
          thisParent.find('.c-form-uploaded-img-list__viewzone').css('display', 'flex');
          thisParent.find('.c-form-uploaded-img-list__editzone').css('display', 'none');
        });

        $('[data-imgurl]').on('click tap', function(e) {
          let thisImgUrl = $(this).data('imgurl');
          let thisModalTarget = $(this).data('target');
          $(thisModalTarget).find('img').attr('src', thisImgUrl);
        });
      </script>



  </body>

</html>
