.s-articles-cols-01 {
	padding-top: map-get($spacers, 4);
  padding-bottom: map-get($spacers, 4);

  @include media-breakpoint-up(lg) {
		padding-top: map-get($spacers, 5);
    padding-bottom: map-get($spacers, 6);
  }

	&__container {
		position: relative;
		max-width: map-get($container-max-widths, 'xl');

		&.has-illustation::before {
			content: '';
			position: absolute;
			z-index: -1;
			bottom: 0;
			right: 0;
			width: 350px;
			height: 260px;
			background-size: 554px;
			background-repeat: no-repeat;
			background-position: top left;
      background-image: escape-svg(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="416" height="416"><path fill="#{$secondary}" fill-rule="evenodd" d="M237.285 413.902C123.557 430.077 18.239 350.982 2.1 237.26-14.08 123.57 64.977 18.245 178.699 2.107c113.734-16.211 219.015 62.877 235.19 176.605 16.18 113.691-62.907 218.972-176.604 235.19z"/></svg>'));
		}
	}

	&__col {

		&--title {
			.h3,
      .h2 {
				margin-bottom: map-get($spacers, 3);

				@include media-breakpoint-up(lg) {
					margin-bottom: map-get($spacers, 5);
				}
			}
		}

		&--article {

			> article {
				margin-bottom: map-get($spacers, 5);
			}

			p + ul {
				margin-top: - map-get($spacers, 3);
			}
		}
	}

  &--plateforme {
    .s-articles-cols-01__container {

      &.has-illustation::before {
        background-image: escape-svg(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="416" height="416"><path fill="#{$secondary}" fill-rule="evenodd" d="M237.285 413.902C123.557 430.077 18.239 350.982 2.1 237.26-14.08 123.57 64.977 18.245 178.699 2.107c113.734-16.211 219.015 62.877 235.19 176.605 16.18 113.691-62.907 218.972-176.604 235.19z"/></svg>'));
      }
    }
  }

  &--marche {
    .s-articles-cols-01__container {

      &.has-illustation::before {
        background-image: escape-svg(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="416" height="416"><path fill="#{$marche-light}" fill-rule="evenodd" d="M237.285 413.902C123.557 430.077 18.239 350.982 2.1 237.26-14.08 123.57 64.977 18.245 178.699 2.107c113.734-16.211 219.015 62.877 235.19 176.605 16.18 113.691-62.907 218.972-176.604 235.19z"/></svg>'));
      }
    }
  }

  &--pilotage {
    .s-articles-cols-01__container {

      &.has-illustation::before {
        background-image: escape-svg(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="416" height="416"><path fill="#{$pilotage-light}" fill-rule="evenodd" d="M237.285 413.902C123.557 430.077 18.239 350.982 2.1 237.26-14.08 123.57 64.977 18.245 178.699 2.107c113.734-16.211 219.015 62.877 235.19 176.605 16.18 113.691-62.907 218.972-176.604 235.19z"/></svg>'));
      }
    }
  }

  &--emploi {
    .s-articles-cols-01__container {

      &.has-illustation::before {
        background-image: escape-svg(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="416" height="416"><path fill="#{$emploi-light}" fill-rule="evenodd" d="M237.285 413.902C123.557 430.077 18.239 350.982 2.1 237.26-14.08 123.57 64.977 18.245 178.699 2.107c113.734-16.211 219.015 62.877 235.19 176.605 16.18 113.691-62.907 218.972-176.604 235.19z"/></svg>'));
      }
    }
  }

  &--communaute {
    .s-articles-cols-01__container {

      &.has-illustation::before {
        background-image: escape-svg(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="416" height="416"><path fill="#{$communaute-light}" fill-rule="evenodd" d="M237.285 413.902C123.557 430.077 18.239 350.982 2.1 237.26-14.08 123.57 64.977 18.245 178.699 2.107c113.734-16.211 219.015 62.877 235.19 176.605 16.18 113.691-62.907 218.972-176.604 235.19z"/></svg>'));
      }
    }
  }
}
