.s-article-picture-02 {
  padding-top: map-get($spacers, 4);
  padding-bottom: map-get($spacers, 4);

  @include media-breakpoint-up(lg) {
    padding-top: map-get($spacers, 5);
    padding-bottom: map-get($spacers, 6);
  }

  &__col {

    &--article {
      article {
        @extend .w-100;
      }

      &__title {
        @extend .mb-4;
        position: relative;

        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background-color: $primary;
          @extend .mt-3;
        }
      }


      &__cta {
        text-align: center;

        @include media-breakpoint-up(lg) {
          text-align: left;
        }
      }

      ol {
        @extend .d-flex;
        flex-direction: column;
        @extend .p-0;
        margin-bottom: map-get($spacers, 4);

        @include media-breakpoint-up(lg) {
          flex-direction: row;
        }

        > li {
          @extend .pr-3;
          @extend .flex-lg-fill;
          list-style: none;

          > ul {
            @extend .pl-3;
            margin-bottom: 0;
            list-style: disc;
          }
        }
      }

      ul {
        @extend .pl-3;
        margin-bottom: map-get($spacers, 4);
      }

      p {
        margin-bottom: map-get($spacers, 4);
      }

      > *:last-of-type:not(:first-of-type) {
        @extend .mb-0;
      }
    }

    &--picture {
      @include media-breakpoint-up(lg) {
        padding-left: map-get($spacers, 5);
      }

      picture {
        margin-top: map-get($spacers, 5);

        @include media-breakpoint-up(lg) {
          margin-top: 0;
        }
      }
    }
  }

  &--marche {
    .s-article-picture-02__col--article h2::after {
      background-color: $marche;
    }
  }

  &--emploi {
    .s-article-picture-02__col--article h2::after {
      background-color: $emploi;
    }
  }

  &--pilotage {
    .s-article-picture-02__col--article h2::after {
      background-color: $pilotage;
    }
  }

  &--communaute {
    .s-article-picture-02__col--article h2::after {
      background-color: $communaute;
    }
  }

  &--ltr {
   .s-article-picture-02__col--picture {
    @include media-breakpoint-up(lg) {
      padding-left: map-get($spacers, 3);
      padding-right: map-get($spacers, 5);
      order: 1;
    }
   }
   .s-article-picture-02__col--article {
    @include media-breakpoint-up(lg) {
      order: 2;
    }
   }
  }
}
