.s-postheader {
  background-color: $white;
  position: relative;
  z-index: 0;
  border-top: 1px solid $border-color;

  &.it-scrolldown {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
  }

  &.it-scrollup {
    position: relative;
    right: initial;
    left: initial;
    top: initial;
  }

  &__container {
    max-width: map-get($container-max-widths, 'xl');
  }

  &__col {
    nav {
      > ul {
        @extend .list-inline;
        @extend .list-unstyled;
        @extend .m-0;
        @extend .p-0;
        width: 100%;

        > li {
          @extend .list-inline-item;
          @extend .m-0;
          @extend .p-0;

          > a {
            @extend .d-inline-block;
            @extend .text-decoration-none;
            @extend .p-3;
            line-height: $line-height-sm;
            border-bottom: 2px solid transparent;
            transition: all 0.3s ease-in-out;

            &:hover {
              background-color: $nuance-09;
              border-bottom: 2px solid $nuance-08;
            }

            &.is-active {
              color: $button;
              border-bottom: 2px solid $button;
            }
          }
        }
      }
    }
  }
}
