.s-section {
  margin-top: map-get($spacers, 4);
  margin-bottom: map-get($spacers, 4);

  @include media-breakpoint-up(lg) {
    margin-top: map-get($spacers, 5);
    margin-bottom: map-get($spacers, 6);
  }
}
